# ignore all logs
*.log

#ignore builds and tests
/target/
*/target/**
/test-output/
*/test-output/**

.apt_generated
.classpaths
.factorypath
.project
.settings
.springBeans
.sts4-cache

#ignore intellij files
.idea
*.iws
*.iml
*.ipr

/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
