<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="App" type="Application" factoryName="Application" nameIsGenerated="true">
    <option name="ALTERNATIVE_JRE_PATH" value="$PROJECT_DIR$/../../../../Program Files/Java/jdk-11.0.13" />
    <envs>
      <env name="HOST" value="database-1.c3bzypvk3zkj.us-east-2.rds.amazonaws.com" />
      <env name="DBNAME" value="postgres" />
      <env name="USERNAME" value="teamShield" />
      <env name="PASSWORD" value="k1H8c7Qd" />
      <env name="PORT" value="5432" />
    </envs>
    <option name="MAIN_CLASS_NAME" value="com.shield.app.App" />
    <module name="project2" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="com.shield.app.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>