#container{
    padding: 1rem 1rem 1rem 0rem;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.logoutLblPos{
    position: absolute;
<<<<<<< HEAD
    right:12vw;
    top:6vh;
=======
    right:5.2vw;
    top:10vh;
>>>>>>> origin/Victor-Branch
    
 }

 #userMain{
     background-color: black;
     padding: 1rem;
     border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;
     flex-direction: column;
     width: 90vw;
     height: 95vh;
 }

 #logo {
     width: 10vw;
 }

 #thumbNail {
     width: 7vw;
     height: 10vh;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     border-radius: 10px;
 }
 #thumbNails{
     background-image: url(../images/blackwindow.gif);
     background-color: black;
     width: 6vw;
     height: 10vh;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     border-radius: 10px;
 }

 #rightSideHeader{
     display: flex;
     /* width: 20vw; */
     margin-left: 350px;
     align-items: center;
     justify-content: space-evenly;
 }

 #shieldAgentName{
     color:turquoise;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 1.5rem;
     margin-top: 16px;
 }

 #headerIcons{
    width: 5vw;
    height: 10vh;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    font-size: 2vw;
    margin: 1rem 0;
 }

 header{
     background-color: rgb(44, 44, 44);
     color: turquoise;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     text-align: center;
 }
 
 body{
<<<<<<< HEAD
    background-image: url(../images/Shield.gif);
=======
     background-image: url(../images/Shield.gif);
    background-color: gray;
    background-repeat: repeat;
>>>>>>> origin/Victor-Branch
    text-align: center;
    position: relative;
    padding: auto;
    margin: 100px;
 }

 main {
    background-color:  rgba(0, 206, 209, 0.911);
    margin: 10px;
    resize: both;
    overflow: auto;
 }

 footer{
   text-align: center;

 }

 #headerUsername{
     padding-left: 30px;
 }
 
 h3{
     text-align: left;
     font-size: 16px;
     font-family: Arial, Helvetica, sans-serif;
     padding: 1rem 1rem 1rem 1rem;
    justify-content: space-evenly;
 }


 #articleContainer{
     display: flex;
     justify-content: space-around;
 }
 #headerUsername{
     padding-left: 30px;
 }

 /* #rightSection, #middleSection, #leftSection{
     width: 40vw;
     height: 74vh; 
 } */

 #leftSection{
     width: 14vw; 
     height: 40vh;
 }
 #rightSection{
     padding: 1rem;
     width: 14vw;
     height: 40vh;
 }

 #middleSection{
     width: 29vw;
     height: 40vh;
     padding: 1rem;
     border-radius: 10px;
     color: black;
 }

 

 /* section */
 #leftSection{
     padding: 1rem;
     border-radius: 10px;
     color: black;
 }

 #formTitle,
 #pastTitle {
     font-size: 1.5rem;
     border-bottom: solid 1px;
 }

 /* right section */
 #rightsection {
     background-color: white;
     /* padding: 1rem; */
     border-radius: 10px;
 }

 textarea {
     width: 150px;
     height: 80px;
 }
 #articleContainer{
    display: flex;
    justify-content: space-around;
}

#leftSection{
<<<<<<< HEAD
    width: 30vw; 
    height: 40vh;
}
#rightSection{
    width: 21vw;
=======
    width: 14vw; 
    height: 40vh;
}
#rightSection{
    width: 14vw;
>>>>>>> origin/Victor-Branch
    height: 40vh;
}

#reviewClaimButton{
    margin-top: 56px;
}

#portrait_input{
    color: transparent;
    width: 105px;
}
