#container{
    padding: 1rem 1rem 1rem 0rem;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.logoutLblPos{
    position: absolute;
    right:5.2vw;
    top:7vh;
    
 }

 #userMain{
     background-color: black;
     padding: 1rem;
     border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;
     flex-direction: column;
     width: 90vw;
     height: 95vh;
 }

 #logo {
     width: 10vw;
 }

 #thumbNail {
     background-image: url(../images/ironman.gif);
     background-color: black;
     width: 7vw;
     height: 10vh;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     border-radius: 10px;
 }
 #thumbNails{
     background-image: url(../images/Scarlett.jpg);
     background-color: black;
     width: 6vw;
     height: 10vh;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     border-radius: 10px;
 }

 #rightSideHeader{
     display: flex;
     /* width: 20vw; */
     margin-left: 350px;
     align-items: center;
     justify-content: space-evenly;
 }

 #shieldAgentName{
     color:turquoise;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 1.5rem;
     margin-top: 16px;
 }

 #headerIcons{
    width: 5vw;
    height: 10vh;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    font-size: 2vw;
    margin: 1rem 0;
 }

 header{
     background-color: rgb(44, 44, 44);
     color: turquoise;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     text-align: center;
 }
 
 body{
    background-color: gray;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    padding: auto;
    margin: 100px;
 }

 main {
    background-color:  rgba(0, 206, 209, 0.911);
    margin: 50px;
 }

 footer{
   text-align: center;

 }
 
 h3{
     text-align: left;
     font-size: 16px;
     font-family: Arial, Helvetica, sans-serif;
     padding: 1rem 1rem 1rem 1rem;
    justify-content: space-evenly;
 }


 #articleContainer{
     display: flex;
     justify-content: space-around;
 }
 #headerUsername{
     padding-left: 30px;
 }

 /* #rightSection, #middleSection, #leftSection{
     width: 40vw;
     height: 74vh; 
 } */

 #leftSection{
     width: 14vw; 
     height: 40vh;
 }
 #rightSection{
     width: 14vw;
     height: 40vh;
 }

 #middleSection{
     width: 20vw;
     height: 40vh;
     padding: 1rem;
     border-radius: 10px;
     color: black;
 }

 

 /* section */
 #leftSection{
     padding: 1rem;
     border-radius: 10px;
     color: black;
 }

 #formTitle,
 #pastTitle {
     font-size: 1.5rem;
     border-bottom: solid 1px;
 }

 /* right section */
 #rightsection {
     background-color: white;
     padding: 1rem;
     border-radius: 10px;
 }